<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>This is weather app created my iSaravana invos. We have used mapbox and darksky for data.</h3>
        <img class="portrait" src="/img/me.jpeg">
    </div>

    {{>footer}}
</body>

</html>